#about-hero {
  width: calc(100% - 240px);
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;

  .sub-page-card {
    flex: 1 1 0;
    border-radius: 15px;
  }

  #active-card {
    border-radius: 10px;
    background-color: hsla(275, 37%, 73%, 1);
  }
}

// .card-hero {
//     perspective: 1000px;
//     transform-style: preserve-3d;

//     .inner-card {
//       width: 100%;
//       height: 100%;
//       padding: 10px;
//       box-sizing: border-box;
//       background-color: black;
//       color: white;
//       border-radius: 15px;
//       position: relative;
//       transition: background-color 0s ease 1.75s, transform 6s ease;
//       transform-origin: center;
//       transform-style: preserve-3d;

//       .card-title {
//         position: absolute;
//         bottom: 10px;
//         right: 10px;

//         opacity: 1;
//         visibility: visible;
//         transition: opacity 0s ease, visibility 0s ease;

//         transform: rotateY(180deg);
//       }

//       .card-backside {
//         transform: rotateY(0deg);
//         width: 100%;
//         height: 100%;
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;

//         opacity: 0;
//         visibility: hidden;
//         transition: opacity 0s ease, visibility 0s ease;

//         h3 {
//           font-size: 1em;
//         }

//         .card-button {
//           text-decoration: none;
//           align-self: flex-end;
//           background-color: white;
//           color: black;
//           border: none;
//           border-radius: 20px;
//           padding: 5px 20px;

//           p {
//             font-size: 1.1rem;
//             font-weight: bold;
//           }
//         }

//         .card-button:hover {
//           background-color: black;
//           color: white;
//         }
//       }
//     }

//     &.back .inner-card {
//       animation: rotate 6s forwards;
//       transform: rotateY(180deg); /* Start or continue from the back */

//       .card-title {
//         opacity: 0;
//         visibility: hidden;
//         transition-delay: 1.75s; /* Disappear at halfway */
//       }

//       .card-backside {
//         opacity: 1;
//         visibility: visible;
//         transition-delay: 1.75s; /* Appear at halfway */
//       }
//     }

//     &.front .inner-card {
//       animation: rotate-back 6s forwards;
//       transform: rotateY(0deg); /* Start or continue from the front */

//       .card-title {
//         opacity: 1;
//         visibility: visible;
//         transition-delay: 1.75s; /* Reappear at the correct timing */
//       }

//       .card-backside {
//         opacity: 0;
//         visibility: hidden;
//         transition-delay: 1.75s; /* Disappear early */
//       }
//     }
//   }

//   @keyframes rotate {
//     0% {
//       transform: rotateY(0deg);
//     }
//     100% {
//       transform: rotateY(180deg);
//     }
//   }

//   @keyframes rotate-back {
//     0% {
//       transform: rotateY(180deg);
//     }
//     100% {
//       transform: rotateY(0deg);
//     }
//   }
