#hero {
  height: calc(100dvh - 200px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;

  h1 {
    font-size: 7rem;
  }

  .purple {
    color: var(--color-2);
  }
  h2 {
    font-size: 4rem;
  }
}

#home {
  position: absolute;
  top: 0px;
}
