#contact-hero {
  width: 100%;
  // margin: 0px 30px;
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;

  visibility: hidden;
  opacity: 0;
  animation: become-visible 0.4s forwards 0.4s;

  #active-card-color {
    background-color: #acd491;
    display: none;
  }

  .sub-page-card {
    border-radius: 15px;
    width: 500px;
  }

  #active-card.sub-page-card {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);

    #inner-card.active-inner {
      flex: 1 1 0;
      box-sizing: border-box;
      padding: 10px;
      border: solid 1px #acd491;

      border-radius: 12px;
      color: black;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }

  #image-area.sub-page-card {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);

    #inner-card.active-inner {
      flex: 1 1 0;
      box-sizing: border-box;
      padding: 10px;
      border: solid 1px #acd491;

      border-radius: 12px;
      color: black;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      p {
        width: 100%;
      }
    }
  }
}
