.card-hero {
  perspective: 1000px;
  transform-style: preserve-3d;
  visibility: hidden;
  opacity: 0;
  animation: become-visible 0.4s forwards 0.4s;

  .inner-card {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    transition: transform 0.6s ease; // Updated to 6 seconds
    transform-origin: center;
    transform-style: preserve-3d;

    .card-front {
      background-color: black;
      color: white;
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 15px;

      .card-title {
        position: absolute;
        bottom: 10px;
        right: 10px;
      }
    }

    .card-backside {
      color: white;
      border-radius: 15px;
      box-sizing: border-box;
      padding: 10px;
      backface-visibility: hidden;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transform: rotateY(180deg);
    }

    .card-button {
      text-decoration: none;
      align-self: flex-end;
      background-color: white;
      color: black;
      border: none;
      border-radius: 20px;
      padding: 5px 20px;

      p {
        font-size: 1.1rem;
        font-weight: bold;
      }
    }

    .card-button:hover {
      background-color: black;
      color: white;
    }
  }

  &.back .inner-card {
    transform: rotateY(180deg);
  }

  &.front .inner-card {
    transform: rotateY(0deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

@keyframes rotate-back {
  0% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes become-visible {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

#about-hero .inner-card .card-backside {
  background-color: #bfa2d4;
}
#current-hero .inner-card .card-backside {
  background-color: #eabf91;
}
#why-hero .inner-card .card-backside {
  background-color: #91d0c5;
}
#products-hero .inner-card .card-backside {
  background-color: #91bfd8;
}
#collab-hero .inner-card .card-backside {
  background-color: #acd491;
}
#cyf-hero .inner-card .card-backside {
  background-color: #e49b9b;
}

#home-hero #about-hero {
  grid-column: 1/2;
  grid-row: 1/2;
}
#home-hero #current-hero {
  grid-column: 2/3;
  grid-row: 1/2;
}
#home-hero #why-hero {
  grid-column: 1/2;
  grid-row: 2/3;
}
#home-hero #products-hero {
  grid-column: 1/2;
  grid-row: 3/4;
}
#home-hero #collab-hero {
  grid-column: 2/3;
  grid-row: 3/4;
}
#home-hero #cyf-hero {
  grid-column: 1/2;
  grid-row: 4/5;
}
