#about-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: calc(5 * var(--gap));

  #about-hero {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    #about-img {
      aspect-ratio: 1;
      height: 450px;
      background-color: black;
      border-radius: calc(var(--border-radius));
      overflow: hidden;
      img {
        height: 100%;
        filter: grayscale(1);
      }
    }
    #about-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: var(--gap);
      text-align: left;
      max-width: 50%;
      .bold {
        font-weight: 800;
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  #about-container {
    align-items: center;
  }
  #about-container #about-hero {
    width: calc(90% - 2 * var(--gap));
    flex-direction: column;
    gap: calc(3 * var(--gap));

    #about-img {
      height: auto;
      img {
        width: 100%;
      }
    }
    #about-info {
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 780px) {
  #about-container #about-hero {
    width: 100%;
  }
}
