#root {
  flex: 1;
  margin: 0px 20px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  width: 1200px;
  max-width: calc(90% - 2 * var(--gap));
  margin-top: 100px;
}

section {
  position: relative;
  margin-bottom: 120px;
}

@media screen and (max-width: 1280px) {
  main {
    width: calc(90% - 2 * var(--gap));
  }
}

@media screen and (max-width: 780px) {
  main {
    max-width: calc(100% - 2 * var(--gap));
    width: calc(100% - 2 * var(--gap));
  }
}
